@charset "UTF-8";
/* league-spartan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/league-spartan-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/league-spartan-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/league-spartan-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/league-spartan-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
.btn--text {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 12.5px;
  align-items: center;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  gap: var(--spacing-400);
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.btn--text svg path {
  transition: fill 0.3s ease;
}
.btn--text:hover {
  color: var(--grey-500);
}
.btn--text:hover svg path {
  fill: var(--grey-500);
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6.875rem;
  background-color: transparent;
  color: var(--white);
  padding: var(--spacing-600) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .main-nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}
.navbar .main-nav.visible {
  visibility: visible;
  height: auto;
  position: static;
}
.navbar:has(.main-nav.visible) {
  color: var(--black);
  background-color: var(--white);
}
.navbar:has(.main-nav.visible) .nav-toggle .close {
  visibility: visible;
  height: auto;
  position: static;
}
.navbar:has(.main-nav.visible) .nav-toggle .hamburger {
  visibility: hidden;
  height: 0;
  position: absolute;
}
.navbar .nav__list {
  display: flex;
  gap: var(--spacing-400);
}
.navbar .nav__item {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.7px;
  position: relative;
}
.navbar .nav__item::after {
  content: "";
  position: absolute;
  bottom: -0.375rem;
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 2px;
  border-bottom: 2px solid currentColor;
  transform: scale(0);
  transition: transform 0.3s ease;
}
.navbar .nav__item:hover::after {
  transform: scale(1);
}
.navbar .nav__item a {
  text-decoration: none;
  color: inherit;
}

.nav-toggle {
  position: absolute;
  left: clamp(var(--spacing-300), -0.8855rem + 10.1781vw, var(--spacing-800));
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.nav-toggle .close {
  visibility: hidden;
  height: 0;
  position: absolute;
}

@media (min-width: 64rem) {
  .navbar {
    left: var(--spacing-800);
    justify-content: flex-start;
    gap: var(--spacing-700);
  }
  .navbar .main-nav {
    visibility: visible;
    height: auto;
    position: static;
  }
  .nav-toggle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
}
:root {
  --white: hsl(0, 100%, 100%);
  --grey-800: hsl(0, 0%, 27%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-100: hsl(0%, 0%, 94%);
  --grey-50: hsl(0%, 0%, 98%);
  --black: hsl(0, 0%, 0%);
  --spacing-0: 0;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
  background-color: var(--white);
  color: var(--black);
}

p {
  color: var(--grey-500);
}

main {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);
}
.hero__image {
  max-width: 52.5rem;
}
.hero__image img {
  width: 100%;
  object-fit: cover;
}
.hero__content {
  width: 83vw;
  margin: 0 auto;
}
.hero__title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -2px;
  margin-bottom: var(--spacing-200);
}
.hero__copy {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: var(--spacing-400);
}
.hero .btn--text {
  width: 100%;
}

@media (min-width: 48rem) {
  .hero .btn--text {
    width: auto;
  }
}
@media (min-width: 64rem) {
  .hero__container {
    display: grid;
    gap: 0;
    grid-template-columns: 58% 42%;
  }
  .hero__content {
    margin: 0;
    padding: 0 min(7vw, 100px);
    place-content: center;
    width: auto;
  }
}