@charset "UTF-8";
/* league-spartan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/league-spartan-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/league-spartan-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/league-spartan-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/league-spartan-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
.btn--text {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.btn--text:hover {
  background-color: var(--accent-color-light);
}

.navbar {
  position: relative;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .main-nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}
.navbar .main-nav.visible {
  visibility: visible;
  height: auto;
  position: static;
}
.navbar:has(.main-nav.visible) {
  color: var(--black);
  background-color: var(--white);
}

.nav-toggle {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.nav-toggle .close {
  visibility: hidden;
  height: 0;
  position: absolute;
}

@media (min-width: 48rem) {
  .navbar {
    justify-content: flex-start;
    gap: var(--spacing-700);
  }
  .navbar .main-nav {
    visibility: visible;
    height: auto;
    position: static;
  }
  .navbar .nav__list {
    display: flex;
    gap: var(--spacing-400);
  }
  .navbar .nav__item {
    position: relative;
    padding: 0.375rem 0;
  }
  .navbar .nav__item:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 2px;
    border-bottom: 2px solid var(--white);
  }
  .navbar .nav__item a {
    text-decoration: none;
    color: inherit;
  }
  .nav-toggle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
}
:root {
  --white: hsl(0, 100%, 100%);
  --grey-800: hsl(0, 0%, 27%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-100: hsl(0%, 0%, 94%);
  --grey-50: hsl(0%, 0%, 98%);
  --black: hsl(0, 0%, 0%);
  --container-max-width: 70rem;
  --container-width: 90%;
  --spacing-0: 0;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

header {
  position: relative;
}

footer {
  text-align: center;
}