{% extends "layouts/base.html" %}
{% block content %}
  <section class="hero">
    <div class="hero__container">
      <div class="hero__image">
        <picture>
          <!-- Desktop (1240px and up) -->
          <source
            media="(min-width: 768px)"
            srcset="./assets/images/desktop-image-hero-1.jpg"
          />

          <!-- Mobile (up to 767px) -->
          <source
            media="(max-width: 767px)"
            srcset="./assets/images/mobile-image-hero-1.jpg"
          />

          <!-- Fallback image -->
          <img
            src="./assets/images/mobile-image-hero-1.jpg"
            alt="white chairs by a table with a bonsai tree on it"
          />
        </picture>
        <div class="hero__carousel-buttons">
          <button class="btn--carousel previous">
            {% include "svgs/icon-angle-left.svg" %}
          </button>
          <button class="btn--carousel next">
            {% include "svgs/icon-angle-right.svg" %}
          </button>
        </div>
      </div>

      <div class="hero__content">
        <h1 class="hero__title">Discover innovative ways to decorate</h1>
        <p class="hero__copy">
          We provide unmatched quality, comfort, and style for property owners
          across the country. Our experts combine form and function in bringing
          your vision to life. Create a room in your own style with our
          collection and make your property a reflection of you and what you
          love.
        </p>
        {% include "components/button-text.html" %}
      </div>
    </div>
  </section>
{% endblock %}
