{% extends "layouts/base.html" %}
{% block content %}
  <section class="hero">
    <div class="hero__container">
      <div class="hero__image">
        {% for hero in site.heroes %}

          {% if hero.id != 1 %}
            {% set class="hidden" %}
          {% else %}
            {% set class="" %}
          {% endif %}

          <picture>
            <!-- Desktop (1240px and up) -->
            {% set imgPath = ["./assets/images/desktop-", hero.imgSlug] | join %}
            <source
              media="(min-width: 768px)"
              srcset="{{ imgPath }}"
            />
            {% set imgPath = ["./assets/images/mobile-", hero.imgSlug] | join %}
            <!-- Mobile (up to 767px) -->
            <source
              media="(max-width: 767px)"
              srcset="{{ imgPath }}"
            />

            <!-- Fallback image -->
            <img
              class="{{ class }}"
              data-slideId="{{ hero.id }}"
              src="{{ imgPath }}"
              alt="white chairs by a table with a bonsai tree on it"
            />
          </picture>
        {% endfor %}
        <div class="hero__carousel-buttons">
          <button class="btn--carousel previous">
            {% include "svgs/icon-angle-left.svg" %}
          </button>
          <button class="btn--carousel next">
            {% include "svgs/icon-angle-right.svg" %}
          </button>
        </div>
      </div>

      <div class="hero__content">
        {% for hero in site.heroes %}
          {% if hero.id != 1 %}
            {% set class="hidden" %}
          {% else %}
            {% set class="" %}
          {% endif %}
          <h1
            class="hero__title {{ class }}"
            data-slideId="{{ hero.id }}"
          >
            {{ hero.title }}
          </h1>
          <p
            class="hero__copy {{ class }}"
            data-slideId="{{ hero.id }}"
          >
            {{ hero.copy }}
          </p>
        {% endfor %}
        {% include "components/button-text.html" %}
      </div>
    </div>
  </section>

  <section class="about">
    <div class="about__container">
      <div class="about__image">
        <img
          src="./assets/images/image-about-dark.jpg"
          alt="dark room with chairs"
        />
      </div>
      <div class="about__content">
        <h2 class="about__title">About our furniture</h2>
        <p class="about__copy">
          Our multifunctional collection blends design and function to suit your
          individual taste. Make each room unique, or pick a cohesive theme that
          best express your interests and what inspires you. Find the furniture
          pieces you need, from traditional to contemporary styles or anything
          in between. Product specialists are available to help you create your
          dream space
        </p>
      </div>
      <div class="about__image">
        <img
          src="./assets/images/image-about-light.jpg"
          alt="light room with chair"
        />
      </div>
    </div>
  </section>
{% endblock %}
