@use "mixins";

.btn--text {
  @include mixins.text-preset-4;
  align-items: center;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  gap: var(--spacing-400);
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;

  svg path {
    transition: fill 0.3s ease;
  }

  &:hover {
    color: var(--grey-500);
    svg path {
      fill: var(--grey-500);
    }
  }
}

.btn--carousel {
  background-color: var(--black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: clamp(3.5rem, 2.0687rem + 6.1069vw, 5rem);
  height: clamp(3.5rem, 2.0687rem + 6.1069vw, 5rem);
  appearance: none;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6.875rem;
  background-color: transparent;
  color: var(--white);
  padding: var(--spacing-600) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .logo {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav {
    @include mixins.visually-hidden;

    &.visible {
      @include mixins.visually-visible;
    }
  }

  &:has(.main-nav.visible) {
    color: var(--black);
    background-color: var(--white);

    & .nav-toggle .close {
      @include mixins.visually-visible;
    }

    & .nav-toggle .hamburger {
      @include mixins.visually-hidden;
    }
  }

  .nav__list {
    display: flex;
    gap: var(--spacing-400);
  }

  .nav__item {
    @include mixins.text-preset-3-semibold;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -0.375rem;
      left: calc(50% - 0.5rem);
      width: 1rem;
      height: 2px;
      border-bottom: 2px solid currentColor;
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scale(1);
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.nav-toggle {
  position: absolute;
  left: clamp(var(--spacing-300), -0.8855rem + 10.1781vw, var(--spacing-800));
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  & .close {
    @include mixins.visually-hidden;
  }
}

@media (min-width: 64rem) {
  .navbar {
    left: var(--spacing-800);
    justify-content: flex-start;
    gap: var(--spacing-700);
    .main-nav {
      @include mixins.visually-visible;
    }
  }

  .nav-toggle {
    @include mixins.visually-hidden;
  }
}
