@mixin visually-hidden {
  visibility: hidden;
  height: 0;
  position: absolute;
}

@mixin visually-visible {
  visibility: visible;
  height: auto;
  position: static;
}

@mixin text-preset-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -2px;
}

@mixin text-preset-2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -2px;
}

@mixin text-preset-3-bold {
  font-size: clamp(0.875rem, 0.7557rem + 0.5089vw, 1rem);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 7px;
}

@mixin text-preset-3-semibold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.7px;
}

@mixin text-preset-3-medium {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

@mixin text-preset-4 {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 12.5px;
}
