@use "fonts";
@use "reset";
@use "mixins";
@use "components";
@use "sass:map";

:root {
  // COLORS
  --white: hsl(0, 100%, 100%);
  --grey-800: hsl(0, 0%, 27%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-100: hsl(0%, 0%, 94%);
  --grey-50: hsl(0%, 0%, 98%);
  --black: hsl(0, 0%, 0%);

  // SPACING
  --spacing-0: 0;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
  background-color: var(--white);
  color: var(--black);
}

p {
  color: var(--grey-500);
}

main {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
}

.hero {
  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-800);
  }

  &__image {
    max-width: 52.5rem;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__carousel-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
  }

  &__content {
    width: 83vw;
    margin: 0 auto;
  }

  &__title {
    @include mixins.text-preset-1;
    margin-bottom: var(--spacing-200);
  }

  &__copy {
    @include mixins.text-preset-3-medium;
    margin-bottom: var(--spacing-400);
  }

  .btn--text {
    width: 100%;
  }
}

@media (min-width: 48rem) {
  .hero {
    .btn--text {
      width: auto;
    }
  }
}

@media (min-width: 64rem) {
  .hero {
    &__container {
      display: grid;
      gap: 0;
      grid-template-columns: 58% 42%;
    }

    &__content {
      margin: 0;
      padding: 0 min(7vw, 100px);
      place-content: center;
      width: auto;
    }
  }
}
