@use "fonts";
@use "reset";
@use "mixins";
@use "components";
@use "sass:map";

:root {
  // COLORS
  --white: hsl(0, 100%, 100%);
  --grey-800: hsl(0, 0%, 27%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-100: hsl(0%, 0%, 94%);
  --grey-50: hsl(0%, 0%, 98%);
  --black: hsl(0, 0%, 0%);

  // CONTAINER
  --container-max-width: 70rem;
  --container-width: 90%;

  // SPACING
  --spacing-0: 0;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

header {
  position: relative;
}

footer {
  text-align: center;
}
